<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">Inspect Result </h2>

    <div class="panel panel-default">

        <div id='report_none_list' class="panel-body">
            <h3 class="bg-info text-center">None</h3>
        </div>
        <!--<div id='export_html' class="panel-body">-->
            <!--<button type="button" class="btn btn-info btn-sm" onclick="show_html()">-->
                <!--<span class="glyphicon glyphicon-new-window"></span> Export-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-info btn-sm" onclick="doc_create()">-->
                <!--<span class="glyphicon glyphicon-new-window"></span> Doc Export-->
            <!--</button>-->
        <!--</div>-->
        <div id='inspectlist_table' class="panel-body table-responsive" style="height: 200px;overflow: auto">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead id="inspectlist_table_head">
                </thead>
                <tbody id="inspectlist_table_body">
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div id='report_display' class="panel-body" style="height: 500px;overflow: auto">
            <div class="panel-group" id="report_accordion">
            </div>
        </div>
    </div>
</div>